:root{
    --cor-primaria: black;
    --cor-secundaria: darkturquoise;
    --cor-terciaria: darkviolet;
    --cor-quartaria: yellow;
    --cor-quintaria: white;

    --fonte-primaria: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --fonte-secundaria: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.body_banco{
    background-image: url("../banco/assets/fundo-banco.png");
}

.titulo_principal_banco{
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    border-radius: 8px;
    color: var(--cor-primaria);
    border: 3px solid var(--cor-terciaria);
    
}

.entrada_do_deposito{
    text-align: center;
    top: 30%;
    width: 300px;
    height: 5px;
    left: 30%;
    background-color: var(--cor-terciaria);
    color: var(--cor-secundaria);
    font-size: 20px;
    font-weight: 200;
    position: absolute;
    border-radius: 24px;
    padding: 1em;
    width: 100%;
}

.entrada_do_saque{
    text-align: center;
    top: 50%;
    width: 300px;
    height: 5px;
    left: 30%;
    background-color: var(--cor-terciaria);
    color: var(--cor-secundaria);
    font-size: 20px;
    font-weight: 200;
    position: absolute;
    border-radius: 24px;
    padding: 1em;
    width: 100%;
}

.entrada_da_transferencia{
    text-align: center;
    top: 70%;
    width: 300px;
    height: 5px;
    left: 30%;
    background-color: var(--cor-terciaria);
    color: var(--cor-secundaria);
    font-size: 20px;
    font-weight: 200;
    position: absolute;
    border-radius: 24px;
    padding: 1em;
    width: 100%;
}

.botao_depositar{
    position: absolute;
    border-radius: 5px;
    top: 40%;
    width: 8%;
    height: 5%;
    left: 45%;
    text-align: center;
    font-size: 20px;
    background-color: var(--cor-secundaria);
    color: var(--cor-primaria);
}

.botao_sacar{
    position: absolute;
    border-radius: 5px;
    top: 60%;
    width: 8%;
    height: 5%;
    left: 45%;
    text-align: center;
    font-size: 20px;
    background-color: var(--cor-secundaria);
    color: var(--cor-primaria);
}

.botao_fazer_transferencia{
    position: absolute;
    border-radius: 5px;
    top: 80%;
    width: 10%;
    height: 5%;
    left: 45%;
    text-align: center;
    font-size: 20px;
    background-color: var(--cor-secundaria);
    color: var(--cor-primaria);
}

@media screen and (max-width: 1024px){
    .entrada_do_deposito{
        width: 50%;
    }

    .entrada_do_deposito::placeholder{
        background-position: 7em;
    }

    .entrada_do_saque{
        width: 50%;
    }

    .entrada_do_saque::placeholder{
        background-position: 7em;
    }

    .entrada_da_transferencia{
        width: 50%;
    }

    .entrada_da_transferencia::placeholder{
        background-position: 7em;
    }
}

@media screen and (max-width: 1728px){
    .entrada_do_deposito{
        width: 35%;
    }

    .entrada_do_deposito::placeholder{
        background-position: 12em;
    }

    .entrada_do_saque{
        width: 35%;
    }

    .entrada_do_saque::placeholder{
        background-position: 12em;
    }

    .entrada_da_transferencia{
        width: 35%;
    }

    .entrada_da_transferencia::placeholder{
        background-position: 12em;
    }
}